nav {
    display: grid;
    grid-template-columns: 15% 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.nav_buttons {
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    padding-top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}


.ico {
    margin-left: 104px;
}

.line {
    width: auto;
    border: 1px solid rgba(163, 163, 163, 0.62);
}

.ico_box {

    margin-top: 8px;

}

.ico {
    background-color: aqua;
}
.skills_btn {

    margin-left: 90px;
    margin-right: 90px;
    margin-top: 4px;
}

.projects_btn {
    margin-top: 4px;
}

.contact {

    
    margin-right: 100px;
    width: 141px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 18.5px;
    justify-content: center;


}


.contact_text {

    padding-top: 3px;

}

.introduction_text {
    margin-top: 40px;
}

.introduction_text_line_1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 56px;
    text-align: center;



}

.introduction_text_line_2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;
    text-align: center;

    color: #000000;

}

.introduction_photo {

    text-align:center;
    

}

.introduction_photo_image { 
    margin-top:40px;
    width: 248px;
    height: 248px;    
    border-radius: 127px;
    margin-bottom: 40px;

}

.about_me {
    width: 141px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 18.5px;


    margin: auto;
}

.about_me_btn {


    padding-top: 3px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;

}
.professional_skills_box_1 {

    position: absolute;
    width: 100%;
    height: 250px;
    left: 0px;
    top: 700px;

    background: #171717;
    border-radius: 20px;

}


.professional_skills_box_2 { 
    position: absolute;
    

    width: 100%;
    height: 650px;
    left: 0px;
    top: 850px;
    background: #171717;

   
}




.professional_skills_heading {

    margin-top: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    color: #FFFFFF;
}

.professional_skills_professions {

    width:80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;

    margin-bottom: 20px;

    position: absolute;
    height: 600px;


    background: #FFFFFF;
    border: 1px solid #171717;
    box-sizing: border-box;
    border-radius: 16px;

}


.professional_skills_professions_back {

    text-align: center;

}



.professional_skills_professions_front {

    text-align: center;
    background: #FFFFFF;
    /* border: 1px solid #171717; */
    box-sizing: border-box;

}

.professional_skills_professions_manager {

    text-align: center;

}

ul {
    list-style-type: none;
}

li {
    margin-top:20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

.professional_skills_professions_image {
    margin: 45px;
}

.professional_skills_professions_heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 21px;

    /* identical to box height */
    text-align: center;
}

.professional_skills_professions_image_description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #000000;
    margin: 40px;
}

.professional_skills_professions_languages_heading {
    margin: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;

    /* identical to box height */
    text-align: center;

    color: #000000;
}

.professional_skills_professions_tools_heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;

    /* identical to box height */
    text-align: center;

    color: #000000;
    margin-top: 50px;
    margin-bottom: 25px;
    
}

.portfolio_cases {
    height:1100px;
}


.portfolio_project_1_image {
    width: 423px;
    height: 230px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.portfolio_project_1_base {

    position: absolute;
    width: 423px;
    height: 230px;
    margin-left: 50px;
    top: 1700px;
    z-index: 5;
    max-height: 300px;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    box-shadow: 8px 2px 8px 3px rgba(0, 0, 0, 0.5);

}

.portfolio_project_1_div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}



.portfolio_project_1 {
    z-index: 4;


}

/* .portfolio_project_1 {
    
    position: absolute;
    width: 423px;
    height: 230px;
    margin-left: 50px;
    top: 1700px;
    z-index: 4;
    max-height: 300px;

    background: rgba(0, 0, 0, 0.1);
    border-radius: 9px;
    box-shadow: 8px 2px 8px 3px rgba(0, 0, 0, 0.5);


} */

.portfolio_project_1_numbering {

    z-index: 1;
}

.portfolio_project_1_numbering_01 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 112px;
    z-index: 2;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
    background-color: #171717;
    width: 120px;

}


.portfolio_project_1_button_p {

    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 8px;
  
}


.portfolio_project_1_button {

    width: 143px;
    height: 43px;
    left: 71px;
    top: 2064px;

    margin-top: 50px;
    margin-left: 30px;
    background: #171717;

}

.line1 {    
    z-index: 1;
    position: absolute;
    width: 835px;
    height: 0px;
    top: 2050px;
    margin-left: 19%;

    border: 1px solid #000000;
    transform: rotate(90deg);
}

/* .line2  {
    position: absolute;
    width: 318.01px;
    height: 0px;

    top: 1850px;
    z-index: 2;
    border: 1px solid #000000;
    text-align: center;

}  */



.popup .overlay {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.7);
    z-index:1;
    display:none;
  }
   
.popup .content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:500px;
    height:250px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
}
   
.popup .close-btn {
    cursor:pointer;
    position:absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
    background:#222;
    color:#fff;
    font-size:25px;
    font-weight:600;
    line-height:30px;
    text-align:center;
    border-radius:50%;
}
   
.popup.active .overlay {
    display:block;
}

.popup.active .content {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}
   


