<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'mainsite/css/main.css' %}">
    <title>portfolio</title>
</head>
<body>
<header>
    <nav>
        <div class="ico_box">
            <img class= "ico" src="" alt="ico">
        </div>
        <div class="nav_buttons">
            <div class="empty"></div>
            <div class="projects_btn">
                Projects
            </div>
            <div class="skills_btn">
                Skills
            </div>
            <div class="contact">
                <div class="contact_text">
                    Contact
                </div>
            </div>
        </div>


    </nav>
    <div class="line">
            
    </div>
</header>
<div class="introduction_text">
    <div class="introduction_text_line_1">
        Full-stack developer & Project Manager
    </div>
    <div class="introduction_text_line_2">
        I programming sites, apps and other interesting things according to your order  
    </div>
    <div class="introduction_photo">
        <img src="../../static/mainsite/ico/20200902_162740.JPG" alt="avatar" class="introduction_photo_image">
    </div>
    <div class="about_me">
        <div class="about_me_btn">
            <p>About me</p>
        </div>
    </div>
</div>
<div class="professional_skills">
    <div class="professional_skills_box_1">
        <div class="professional_skills_heading">
            Professional skills
        </div>
    </div>
    <div class="professional_skills_box_2">
        <div class="professional_skills_professions">
            <div class="professional_skills_professions_back">
                <div class="professional_skills_professions_back_image">
                    <img src="" alt="ico">
                </div>
                <div class="professional_skills_professions_back_heading">
                    Back-End Developer
                </div>
                <div class="professional_skills_professions_back_image_description">
                    I create a simple application structure, 
as well as set up a strong interaction with the database 
                </div>
                <div class="professional_skills_professions_back_languages_heading">
                    Languages
                </div>
                <div class="professional_skills_professions_back_languages">
                    Python, Django, PostgreSQL 
                </div>
                <div class="professional_skills_professions_back_tools">
                    <ul>
                        <li>
                            VSC
                        </li>
                        <li>
                            GIT 
                        </li>
                        <li>
                            Linux
                        </li>
                    </ul>
                </div>
            </div>
            <div class="professional_skills_professions_front">
                <div class="professional_skills_professions_front_image">
                    <img src="" alt="ico">
                </div>
                <div class="professional_skills_professions_front_heading">
                    Front-End Developer
                </div>
                <div class="professional_skills_professions_front_image_description">
                    I do page layout and, if possible, 
I can make custom animation on JS 
                </div>
                <div class="professional_skills_professions_front_languages_heading">
                    Languages
                </div>
                <div class="professional_skills_professions_front_languages">
                    HTML, CSS, JS, REACT
                </div>
                <div class="professional_skills_professions_front_tools">
                    <ul>
                        <li>
                            Bootstrap
                        </li>
                        <li>
                            Figma 
                        </li>
                        <li>
                            PS
                        </li>
                        <li>
                            Codepen 
                        </li>
                    </ul>
                </div>
            </div>
            <div class="professional_skills_professions_manager">
                <div class="professional_skills_professions_manager_image">
                    <img src="" alt="ico">
                </div>
                <div class="professional_skills_professions_manager_heading">
                    Projet Manager
                </div>
                <div class="professional_skills_professions_manager_image_description">
                    I will help to organize the work of the project, distribute development, set up teamwork.  
                </div>
                <div class="professional_skills_professions_manager_languages_heading">
                    Manager skills
                </div>
                <div class="professional_skills_professions_manager_languages">
                    Stress tolerance , Sociability, Responsibility 
Determination  
                </div>
                <div class="professional_skills_professions_manager_tools">
                    <ul>
                        <li>
                            TRELLO
                        </li>
                        <li>
                            NOTION 
                        </li>
                        <li>
                            DISCORD
                        </li>
                        <li>
                            AGILE
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
</div>
</body>
</html>